@tailwind base;
@tailwind components;
@tailwind utilities;




.hero{
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero::before{
    content: "";
    background-image:  url(./public/Images/login-bg.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -390px;
    opacity: 0.320;
   scale: -1 1;

}



.noOpacity::before{
    content: "";
    background-image:  url(./public/Images/login-bg.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}